---
import type {
	StoryblokGlobal,
	StoryblokSeoFields,
} from '../../.storyblok/types/288498216560234/storyblok-components';
import Header from '../storyblok/Header.astro';
import Footer from '../storyblok/Footer.astro';
import '../styles/global.css';

const isProd =
	import.meta.env.PROD && import.meta.env.STORYBLOK_PREVIEW !== 'true';

const COMPANY_TITLE = 'Company';

type Props = {
	global: StoryblokGlobal;
	seo: Partial<StoryblokSeoFields> | undefined;
};

const { global, seo } = Astro.props;

const title = seo?.meta_title || COMPANY_TITLE;
const description = isProd ? seo?.meta_description : undefined;
const meta_title = isProd ? seo?.meta_title : undefined;
const og_image = isProd ? seo?.og_image : undefined;
const robots =
	isProd && seo?.meta_robots ? seo.meta_robots : 'noindex,nofollow';

const footer = global.footer?.[0];
const header = global.header?.[0];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="robots" content={robots} />
	</head>
	<body>
		{header && <Header blok={header} />}

		<div class="w-full flex justify-center">
			<main class="w-full max-w-[1600px] px-4 sm:px-6 lg:px-10">
				<slot />
			</main>
		</div>

		{footer && <Footer blok={footer} />}
	</body>
</html>
